---
title: "The HaxeFlixel Blog"
layout: blog-layout
---
<div class="container">
	<div class="row">
		{%- for blog in collections.blogpost reversed -%}
			<a href="{{blog.url}}" property="dc:title">
				<h3>{{ blog.data.title }}</h3>
			</a>
			<div class="post-date post-date-preview">{{ blog.data.postDate }}</div>
			<p>
				{{ blog.content | strip_html | truncate: 150 -}}
				<a href="{{blog.url}}"> read more</a>
			</p>
			{% comment %} <p><%- blog.contentPreview %> <a href="<%= blog.url %>"> read more</a></p> {% endcomment %}

			<hr>
		{%- endfor -%}
	</div>
</div>
