---
title: "Showcase"
layout: showcase
---

{% comment %} 
This page can likely be cleaned up well with shortcodes!
something like {% renderTargets showcase.targets %}
which would require reformatting some frontmatter in the showcase markdown files!

ALSO NOTE:
these use the images in the old docpad `src` directory! Eventually we will want to move these!
{% endcomment %}

<div class="center-align-a">

<div class="row">

	{% for showcase in collections.showcase-item reversed%}

	{% if showcase.data.featured %}

	<div class="col-md-6 showcase-game">

		<h3>{{showcase.data.title}}</h3>

		<a class="showcase-game-thumbnail" href="{{showcase.data.website}}" property="dc:title" target="_blank">
			{% comment %} This capture is here because idk how to properly use the showcase title in the image source lol! {% endcomment %}
			{% capture imgURL %}src/files/images/showcase/{{showcase.data.title}}.png{% endcapture %}
			{% image imgURL, showcase.data.title, 500, 260 %}
			{% comment %} <img src="<%= @getThumbnail("/images/showcase/#{showcase.title}.png", "zoomcrop", ) %>" {% endcomment %}
				{% comment %} alt="{{showcase.data.title}}" title="{{showcase.data.website}}"> {% endcomment %}

		</a>

			<div class="showcase-targets">

				{% if  showcase.data.windows %}
					<span class="<%= @getShowcaseActive( showcase.data.windows) %>" title="Windows">
						<a href="{{ showcase.data.windows }}" class="showcaseTarget" target="_blank">
							<img width="30px" height="40px" src="/images/targets/windows-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.linux %}
					<span class="<%= @getShowcaseActive( showcase.data.linux) %>" title="Linux">
						<a href="{{ showcase.data.linux }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="49px" src="/images/targets/linux-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.mac %}
					<span class="<%= @getShowcaseActive( showcase.data.mac) %>" title="Mac">
						<a href="{{ showcase.data.mac }}" class="showcaseTarget" target="_blank">
							<img width="26px" height="40px" src="/images/targets/apple-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.android %}
					<span class="<%= @getShowcaseActive( showcase.data.android) %>" title="Android">
						<a href="{{ showcase.data.android }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/android-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.ios  %}
					<span class="<%= @getShowcaseActive( showcase.data.ios) %>" title="iOS">
						<a href="{{ showcase.data.ios }}" class="showcaseTarget" target="_blank">
							<img width="40px" src="/images/targets/ios-logo.png">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.flash  %}
					<span class="<%= @getShowcaseActive( showcase.data.flash) %>" title="Flash">
						<a href="{{ showcase.data.flash }}" class="showcaseTarget" target="_blank">
							<img width="32px" height="40px" src="/images/targets/flash-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.steam %}
					<span class="<%= @getShowcaseActive( showcase.data.steam) %>" title="Steam">
						<a href="{{ showcase.data.steam }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/steam-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.ps4 %}
					<span class="<%= @getShowcaseActive( showcase.data.ps4) %>" title="PlayStation 4">
						<a href="{{ showcase.data.ps4 }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/ps-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.psvita %}
					<span class="<%= @getShowcaseActive( showcase.data.psvita) %>" title="PlayStation Vita">
						<a href="{{ showcase.data.psvita }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/ps-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.xbox %}
					<span class="<%= @getShowcaseActive( showcase.data.xbox) %>" title="XBox">
						<a href="{{ showcase.data.xbox }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/xbox-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if  showcase.data.switch %}
					<span class="<%= @getShowcaseActive( showcase.data.switch) %>" title="Nintendo Switch">
						<a href="{{ showcase.data.switch }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/switch-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if  showcase.data.itch %}
					<span class="<%= @getShowcaseActive( showcase.data.itch) %>" title="itch.io">
						<a href="{{ showcase.data.itch }}" class="showcaseTarget" target="_blank">
							<img width="35px" height="40px" src="/images/targets/itch-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if  showcase.data.humble %}
					<span class="<%= @getShowcaseActive( showcase.data.humble) %>" title="Humble Bundle">
						<a href="{{ showcase.data.humble }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/humble-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if  showcase.data.newgrounds %}
					<span class="<%= @getShowcaseActive( showcase.data.newgrounds) %>" title="Newgrounds">
						<a href="{{ showcase.data.newgrounds }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/newgrounds-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if  showcase.data.github %}
					<span class="<%= @getShowcaseActive( showcase.data.github) %>" title="GitHub">
						<a href="{{ showcase.data.github }}" class="showcaseTarget" target="_blank">
							<img height="40px" src="/images/targets/github-logo.svg">
						</a>
					</span>
				{% endif %}

			</div>

	</div>

	{% endif %}

	{%- endfor -%}

</div>


	<div class="row showcase-grid">

		{% for showcase in collections.showcase-item reversed%}

		{% unless showcase.data.featured %}

		<div class="col-md-4 showcase-game">

			<h3>{{ showcase.data.title }}</h3>

			<a class="showcase-game-thumbnail" href="{{ showcase.data.website }}" property="dc:title" target="_blank">

				{% capture imgURL %}src/files/images/showcase/{{showcase.data.title}}.png{% endcapture %}
				{% image imgURL, showcase.data.title, 345, 184 %}

			</a>

			<div class="showcase-targets">

				{% if showcase.data.windows %}
					<span class="<%= @getShowcaseActive( showcase.data.windows) %>" title="Windows">
						<a href="{{ showcase.data.windows }}" class="showcaseTarget" target="_blank">
							<img width="30px" height="40px" src="/images/targets/windows-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.linux %}
					<span class="<%= @getShowcaseActive( showcase.data.linux) %>" title="Linux">
						<a href="{{ showcase.data.linux }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="49px" src="/images/targets/linux-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.mac %}
					<span class="<%= @getShowcaseActive( showcase.data.mac) %>" title="Mac">
						<a href="{{ showcase.data.mac }}" class="showcaseTarget" target="_blank">
							<img width="26px" height="40px" src="/images/targets/apple-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.android %}
					<span class="<%= @getShowcaseActive( showcase.data.android) %>" title="Android">
						<a href="{{ showcase.data.android }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/android-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.ios %}
					<span class="<%= @getShowcaseActive( showcase.data.ios) %>" title="iOS">
						<a href="{{ showcase.data.ios }}" class="showcaseTarget" target="_blank">
							<img width="40px" src="/images/targets/ios-logo.png">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.flash %}
					<span class="<%= @getShowcaseActive( showcase.data.flash) %>" title="Flash">
						<a href="{{ showcase.data.flash }}" class="showcaseTarget" target="_blank">
							<img width="32px" height="40px" src="/images/targets/flash-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.steam %}
					<span class="<%= @getShowcaseActive( showcase.data.steam) %>" title="Steam">
						<a href="{{ showcase.data.steam }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/steam-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.ps4 %}
					<span class="<%= @getShowcaseActive( showcase.data.ps4) %>" title="PlayStation 4">
						<a href="{{ showcase.data.ps4 }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/ps-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.psvita %}
					<span class="<%= @getShowcaseActive( showcase.data.psvita) %>" title="PlayStation Vita">
						<a href="{{ showcase.data.psvita }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/ps-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if showcase.data.xbox %}
					<span class="<%= @getShowcaseActive( showcase.data.xbox) %>" title="XBox">
						<a href="{{ showcase.data.xbox }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/xbox-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if showcase.data.switch %}
					<span class="<%= @getShowcaseActive( showcase.data.switch) %>" title="Nintendo Switch">
						<a href="{{ showcase.data.switch }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/switch-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if showcase.data.itch %}
					<span class="<%= @getShowcaseActive( showcase.data.itch) %>" title="itch.io">
						<a href="{{ showcase.data.itch }}" class="showcaseTarget" target="_blank">
							<img width="35px" height="40px" src="/images/targets/itch-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if showcase.data.humble %}
					<span class="<%= @getShowcaseActive( showcase.data.humble) %>" title="Humble Bundle">
						<a href="{{ showcase.data.humble }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/humble-logo.svg">
						</a>
					</span>
				{% endif %}
				
				{% if showcase.data.newgrounds %}
					<span class="<%= @getShowcaseActive( showcase.data.newgrounds) %>" title="Newgrounds">
						<a href="{{ showcase.data.newgrounds }}" class="showcaseTarget" target="_blank">
							<img width="40px" height="40px" src="/images/targets/newgrounds-logo.svg">
						</a>
					</span>
				{% endif %}

				{% if showcase.data.github %}
					<span class="<%= @getShowcaseActive( showcase.data.github) %>" title="GitHub">
						<a href="{{ showcase.data.github }}" class="showcaseTarget" target="_blank">
							<img height="40px" src="/images/targets/github-logo.svg">
						</a>
					</span>
				{% endif %}
				
			</div>

		</div>

		{% endunless %}

		{%- endfor -%}

	</div>



</div>

