<!doctype html>
<html lang="en">
	{% comment %} <%- @partial('head.html.eco', {title:@getPreparedTitle()}, {description:@getPreparedDescription()}, {keywords:@getPreparedKeywords()}, {author:@site.author or ''}, {styles:@getBlock("styles").add(["/styles/style.css", "/vendor/highlightjs/styles/an-old-hope.min.css"]).toHTML()} ) %> {% endcomment %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% if title != null %}
			{% capture preparedTitle %} {{ title }} | HaxeFlixel - 2D Game Engine{% endcapture %}
		{% else %}
			{% assign preparedTitle = 'HaxeFlixel - 2D Game Engine' %}
		{% endif %}
		<title>{{ preparedTitle }}</title>

		<meta
			name="description"
			content="HaxeFlixel is a 2D Game Engine that lets you create cross-platform games easier with free, open source technology!">

		<meta property="og:title" content="{{ preparedTitle }}">
		<meta
			property="og:description"
			content="HaxeFlixel is a 2D Game Engine that lets you create cross-platform games easier with free, open source technology!">
		<meta property="og:url" content="https://haxeflixel.com{{ page.url }}">
		<meta property="og:site_name" content="HaxeFlixel">
		<meta name="theme-color" content="{{ embedColor }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="/images/haxeflixel.svg">
		<link rel="shortcut icon" href="/images/favicon.ico">

		<link rel="stylesheet" href="/styles/style.css">
		<link rel="stylesheet" href="/styles/highlights/vs2015.min.css">

		<script>
			{% render "darkmode.js" %}
		</script>
	</head>

	<body>
		{% renderFile "./content/_layouts/partials/header-menu.liquid" %}

		{{ content }}

		{% renderFile "./content/_layouts/partials/footer.liquid" %}
		{% renderFile "./content/cdn-scripts.liquid" %}
		<script src="/11ty-bundle.js"></script>
	</body>
</html>
