---
layout: default
---
<div class="row">
	<div class="col-md-3">
		<div class="doc-nav affix">
			{% render '_layouts/partials/doc-menu.liquid',
				docGroup: docGroup,
				rootDocs: 'getting_started, tutorial, handbook, resources, community',
				icon: 'check-square',
				collections: collections,
				pageTitle: title
			%}
			{% comment %} <%- @partial('doc-menu.html.eco', {document:@document}, {documents:@getCollection(@document.categoryName).toJSON()}, {rootDocuments:@getCollection('rootDocuments').toJSON() } ) %> {% endcomment %}
		</div>
	</div>

	<div class="col-md-9 doc-content" role="main">
		<h1 class="title">{{ title }}</h1>
		<ul class="nav justify-content-end">
			{% if apiPath %}
				<a
					href="http://api.haxeflixel.com/flixel/{{ apiPath }}"
					class="nav-link btn-edit"
					target="_blank"
					><i class="bi-gear"></i> API
				</a>
			{% endif %}
			<a
				href="https://github.com/HaxeFlixel/flixel-docs/blob/master/documentation/{{ page.inputPath | getApiPath}}/"
				class="nav-link btn-edit"
				target="_blank"
				><i class="bi-pencil"></i> Edit</a
			>
		</ul>
		{{ content }}

		<br>
		<hr>

		<ul class="pagination justify-content-center">
			{% assign prevPost = collections[docGroup] | getPreviousCollectionItem %}
			{% assign nextPost = collections[docGroup] | getNextCollectionItem %}

			{% if prevPost %}
				<li class="page-item">
					<a class="page-link" href="{{ prevPost.url }}">Previous: {{ prevPost.data.title }}</a>
				</li>
			{% endif %}

			{% if nextPost %}
				<li class="page-item float-end">
					<a class="page-link" href="{{ nextPost.url }}">Next: {{ nextPost.data.title }}</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
